PORT=4000
API_PREFIX=api/v1

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=my_city

DB_SYNC=false
DB_MIGRATIONS_RUN=false
NODE_ENV=development

REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=
REDIS_DB=0
REDIS_REQUIRED=true

JWT_AUDIENCE=my-city-mobile
JWT_ISSUER=my-city
JWT_ACCESS_SECRET=replace-me-access
JWT_REFRESH_SECRET=replace-me-refresh

ENABLE_NOTIFICATION_WORKER=true
NOTIFICATION_WORKER_INTERVAL_MS=3000

FCM_PROJECT_ID=
FCM_CLIENT_EMAIL=
FCM_PRIVATE_KEY=

STORAGE_BUCKET=
STORAGE_REGION=
STORAGE_ENDPOINT=
STORAGE_PUBLIC_BASE_URL=
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=
STORAGE_FORCE_PATH_STYLE=false
STORAGE_SIGNED_URL_EXPIRES_SECONDS=900
